<%- model_class = Task -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_task_path,
            :class => 'btn btn-primary' %>
<br/><br/>
<div class="open_box">
  <h4>Feel free to pick a task! ;)</h4>
  <%= render 'open_tasks' %>
</div>
<br/>

<div class="allocated_box">
  <h4>Allocated tasks</h4>
  <%= render 'allocated_tasks' %>
</div>
<br/>

<div class="complete_box">
  <h4>Completed tasks</h4>
  <%= render 'completed_tasks' %>
</div>
