<link rel="shortcut icon" href="assets\images\favicon.ico">
<br/>
<h6>Welcome back <%= current_user.user_name %>!</h6>
<hr />
  <div class="span5">
    <h4>Latest blog</h4>
    <%= render 'latest_post' %>
    <h4>My tasks</h4>
    <%= render 'your_tasks' %>
  </div>
  <div class="span4">
    <%= render 'upcoming_appointments' %><br/><br/>
    <h4>Latest comments</h4>
    <%= render 'comments_activity' %>
  </div>

<br/>
