<!-- Button to trigger modal -->

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Sharing is caring</h3>
  </div>
  <div class="modal-body">
    <p>
    <%= form_for([@post, @post.comments.build]) do |f| %>
      <div class="hidden">
        <%= f.label :commenter %><br />
        <%= f.text_field :commenter, :value => current_user.user_name %>
      </div>
      <div class="field">
        <%= f.text_area :body, :class => 'comment' %>
      </div>
      <div class="hidden">
        <%= f.text_field :post_name, :value => @post.title %>
        <%= f.text_field :description, :value => wall_activity_description %>
      </div>
      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary', :name => "wall_button" %>
      </div>

    <% end %>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
